<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new mentorship request from <%= @mentorship.user.get_name %>!</p>
    <p>Login to <%= link_to 'Mentor Market', mentorships_url %> to accept and start the conversation, or let <%= @mentorship.user.get_name %> know if you can't mentor them right now.</p>
  
  </body>
</html>