<h1>Mentor Market</h1>

<div class= "row space-evenly">
    <%= link_to 'Find for your Mentor Match', users_path, class:'btn btn-primary col-5' %>
    <div class="col-2"></div>
    <%= link_to 'Become a Mentor', new_mentor_path, class:'btn btn-primary col-5' %>
</div>