<% flash.each do |key, value| %>
  <div>
    <%= value %>
  </div>
<% end %>

<% if current_user %>
<ul>
  <li><%= link_to 'View available mentors', mentors_path %></li>
  <li><%= link_to 'View my mentoring relationships', mentorships_path %></li>
  <% if current_user.mentor %>
    <li><%= link_to 'My mentor profile page', mentor_path(current_user.mentor) %></li>
  <% end %>
</ul>

<% end %>
