<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new mentor request from <%= @user.name %>!</p>
    <p>Login to Mentor Market to accept the request. </p>
  </body>
</html>