<div class="container">
<h1>Search results</h1>
<% if @results != nil %>
    <% @results.each do |result| %>
        <p>
            <%= render 'users/user_link', user: result.user %>

        </p>
    <% end %>
<% else %>
    <p>No results matching that name</p>
<% end %>
</div>