<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.username %></strong>
      <%= link_to "Add mentor", mentorships_path(:mentor_user_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>