<div class="container">
    
    <p>Welcome <%= @email %> to <%= attachments.inline['app-icon'] = {content: File.read("#{Rails.root}/app/assets/images/app-icon.png"),
                                            mime_type: "image/png"} %> Mentor Market!</p>

    <p>In only two easy steps you will be on your way to finding your next mentor</p>
   
        <ol>
            <li>Confirm your email account - verify your account so we can send you valuable reminders and notifications</li>
            <li>Make your user profile - give prospective mentors some very basic information about you</li>
        </ol>
        <p>It is completely up to you how much information you provide. More information provided may increase opportunities for mentoring relationships</p>

    <p>You can confirm your account email through the link below:</p>

    <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
    
    <%= attachments.inline['diversity'] = { content: File.read("#{Rails.root}/app/assets/images/diversity.png"),
                                            mime_type: "image/png" } %>
</div>