<p><%= sanitize personal_message.body.html_safe %></p>
- <i><%= render 'users/user_link', user: personal_message.user %>: <%= personal_message.created_at.strftime("%a %d/%m/%y at %l:%M %p") %></strong></i>
<hr>